/*André G. Silva*/

html {
	height: 100%;
	width: 100%;
	background: white;
	background: radial-gradient(circle, #fff 24%, #CCE);
	background-size: cover;
	font-family: 'Courier New', Courier, monospace;

}

@keyframes RGB{
	0%{
		color: red;
	}

	50%{
		color: green;
	}

	100%{
		color: blue;
	}
}

a:link {
	text-decoration: none;
	color: #FFF;
}

a:visited {
	color: rgb(255, 0, 170);
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: auto;
	min-width: 0px;
	max-width: 3000px;
}

body div.calculadora {
	margin: auto;
	margin-top: 30px;
	position: center;
	width: 410px;
	height: 450px;
	background-image: radial-gradient(ellipse, rgb(20, 20, 20) 24%, rgb(14, 14, 14));
	border-radius: 10%;
	display: flex;

}

input::placeholder {
	color: red;
}

header h1.title {
	animation-name: RGB;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	font-size: 220%;
	text-align: center;
}

main input#result {
	width: 350px;
	height: 60px;
	margin-top: 30px;
	margin-left: 25px;
	font-size: 300%;
	text-align: center;
	color: red;
	border-radius: 30%;
	background: radial-gradient(circle, #fff 24%, rgb(137, 137, 243));
}

main input#x {
	width: 300px;
	height: 30px;
	margin-left: 50px;
	margin-top: 60px;
	font-size: 170%;
	text-align: center;
	color: red;
	border-radius: 15%;
	background: radial-gradient(circle, #fff 24%, rgb(137, 137, 243));
}

main select#operacoes {
	width: 300px;
	height: 30px;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 150%;
	text-align: center;
	color: red;
	border-radius: 15%;
	background: radial-gradient(circle, #fff 24%, rgb(137, 137, 243));
	cursor: pointer;
}

main input#y {
	width: 300px;
	height: 30px;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 170%;
	text-align: center;
	color: red;
	border-radius: 15%;
	background: radial-gradient(circle, #fff 24%, rgb(137, 137, 243));
}

main input#calcular {
	width: 180px;
	height: 40px;
	color: red;
	border-radius: 15%;
	background: radial-gradient(circle, #fff 24%, rgb(137, 137, 243));
	font-size: 150%;
	margin-left: 25px;
	margin-top: 70px;
	cursor: pointer;
}

main input#limpar {
	width: 180px;
	height: 40px;
	color: red;
	border-radius: 15%;
	background: radial-gradient(circle, #fff 24%, rgb(137, 137, 243));
	font-size: 150%;
	cursor: pointer;
}

footer p.credits {
	margin-top: 20px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: red;
	text-align: center;
}

footer p.name {
	color: rgb(255, 0, 170);
	margin-top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer p.name:hover {
	zoom: 150%;
}

footer p.links {
	text-align: center;
	margin-top: 10px;
}

footer img.instaImage {
	width: 45px;
	height: 45px;
}

footer img.faceImage {
	width: 45px;
	height: 45px;
}

footer img.twiterImage {
	width: 45px;
	height: 45px;
}